.welcome-page{
    background-color: rgb(140, 211, 144);
    height: 100vh;
    display: flex;
}
.home-page{
    background-color: rgb(8, 255, 21);
    height: 100vh;
    display: flex;
    width: 100wh;
}

.row{
    display: flex;
    margin: 20px 30px;
    justify-content: center;
}
.col{
    margin: 10px 0;
}
.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.home{
    justify-content: center;
    margin: auto;
    align-items: center;
}
p{
    margin: 0;
}